daemonize==2.4.7
inflect==0.2.5
irc==15.0.3
jaraco.classes==1.4
jaraco.collections==1.5
jaraco.functools==1.15.1
jaraco.itertools==2.0
jaraco.logging==1.5
jaraco.stream==1.1.1
jaraco.text==1.8
more-itertools==2.2
pytz==2016.7
six==1.10.0
taillight==0.3b3
tempora==1.6.1
